.text-field {
    -fx-background-color: #a0a2ab , #2D3442 , #2D3442;
    -fx-background-insets: 0 0 -1 0, 0 0 0 0, 0 0 0 0;
    -fx-text-fill: #a0a2ab;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius : 0 0 0 0;
}

.text-field:focused {
    -fx-background-color: white , #2D3442 , #2D3442;
    -fx-background-insets: 0 0 -0.9 0, 0 0 0 0, 0 0 0 0;
    -fx-text-fill: #bebebf;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius : 0 0 0 0;
}
